<div class=" home-page-background">
  <br /><br /><br /><br />

  <div class="container-fluid pb-4">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <img src="../../assets/images/logo.png" class="logo">
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-12 d-flex justify-content-center welcome-msg">
        <strong>WELCOME TO OUR EXPERIENCE STORE!</strong>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 d-flex justify-content-center second-line-welcome">
        Select from our full range & vast variety of products at one destination
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <button class="begin-btn">BEGIN</button>
      </div>
    </div>
  </div>
