<nav class="navbar navbar-expand-sm bg-white navbar-dark">
  <a class="navbar-brand " href="#">
    <img class="icon" src="../../../assets/images/logo.jpg">
  </a>
</nav>
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-2">
      <strong>TICKET</strong>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="col-11 border border-dark">
      <div class="container">
        <div class="row mt-3">
          <div class="col-5">
            Ticket Number:
          </div>
          <div class="col-7">
            #172
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-5">
            Phone Number:
          </div>
          <div class="col-7">
            +91 9990000999
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-5">
            Billing Counter Number:
          </div>
          <div class="col-7">
            Counter 4
          </div>
        </div>
        <div class="row justify-content-center mt-5 mb-3 counter">
          <small>Please go to counter number 4 for payment & checkout.</small>
        </div>
        <div class="row justify-content-center mb-3">
          <div class="col-9 border-bottom border-dark"></div>
        </div>
        <div class="row mb-3">
          <div class="col-3">
            <div class="row">
              <div class="col-12"><img class="card-image" src="../../assets/images/8.png"></div>
            </div>
            <div class="row pt-2">
              <div class="col-12">
                <small><strong>BACHELOR SET 1</strong></small>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <small class="desc-text">SUPC: SDL491455399</small>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row justify-content-center">
              <div class="color-maroon">
              </div>
            </div>
            <div class="row justify-content-center mt-1">
              <small>RED</small>
            </div>
          </div>
          <div class="col-3">
            <div class="row justify-content-end">
              <small>Total products: </small>
            </div>
            <div class="row justify-content-end">
              <small>Tax: </small>
            </div>
            <div class="row justify-content-end">
              <strong>Total: </strong>
            </div>
          </div>
          <div class="col-3 pr-2">
            <div class="row justify-content-end col-12">
              <small>&#x20B9; 2499</small>
            </div>
            <div class="row justify-content-end col-12">
              <small>&#x20B9; 0.00</small>
            </div>
            <div class="row justify-content-end col-12">
              <strong>&#x20B9; 2499</strong>
            </div>
            <div class="col-12 row justify-content-end">
              <i><small><strong>*Including GST</strong></small></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
