.counter {
  color: rgb(63, 142, 62);
}

.card-image {
  width: inherit;
}

.color-maroon {
  background-color: rgba(182, 85, 81, 1);
  height: 15px;
  width: 15px;
}

.desc-text {
  color: rgb(149, 149, 149);
}
