.home-page-background {
  background-size: cover;
  // background-image: url('../src/assets/images/bgImage.jpg');
  background-image: url('/src/assets/images/4F0@3x.png');
  height: -webkit-fill-available;
}
