<nav class="navbar navbar-expand-sm bg-white navbar-dark">
  <a class="navbar-brand " href="#">
    <img class="icon" src="../../../assets/images/logo.jpg">
  </a>
</nav>
<div class="container">
  <div class="header mt-5 ml-2">
    <strong>BILLING SUMMARY</strong>
  </div>
  <div class="billing-card ml-4 mt-4 border border-dark">
    <div class="row">
    <div class="col-3 mt-3 mb-3 ml-3 d-flex flex-column">
      <div class="row justify-content-center">
        <img class="card-image" src="../../assets/images/8.png">
      </div>
      <div class="prod-details">
        <div class="text-center"><small><strong>BACHELOR SET 1</strong></small></div>
        <div class="text-center text-secondary sub-detail"><small>SUPC: SDL491455399</small></div>
      </div>
    </div>
    <div class="col-3 mt-3 mb-3">
      <div class="row justify-content-center">
        <div class="color-maroon">
        </div>
      </div>
      <div class="row justify-content-center">
         <small> RED </small>
      </div>
    </div>
    <div class="col-5 mt-3 mb-3">
      <div class="row">
        <div class="col-8">
        <div class="row justify-content-end">
          Total products:
        </div>
        <div class="row justify-content-end">
          Tax:
        </div>
        <div class="row justify-content-end">
          Total:
        </div>
      </div>
      <div class="col-4">
          <div class="row justify-content-end">
              &#8377; 2499.00
            </div>
            <div class="row justify-content-end">
                &#8377; 0.00
            </div>
            <div class="row justify-content-end">
                &#8377; <strong>2499.00</strong>
            </div>
            <div class="row justify-content-end">
                <small>*including GST</small>
            </div>
      </div>
      </div>
</div>
</div>
</div>
<div class="mt-5">
    <div class="row justify-content-center">
      Enter phone number to generate ticket
    </div>
    <div class="row justify-content-center mt-4">
      <input type="number" class="col-8 custom-input" name="FirstName" placeholder="Enter Number">
    </div>
    <div class="row justify-content-center">
    <div class=" text-center col-8 border-bottom border-dark">
    </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-2 btn add-btn" (click)="moveToTicket()">
        CONTINUE
      </div>
    </div>

    </div>
  </div>