.card-image{
    width: 135px;
    height: 80px;
}

.sub-detail{
    font-size: 12px;
}

.color-maroon{
    background-color: rgba(182, 85, 81,1);
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

input{
    border: none;
    border-color: transparent;
    text-align: center;
}

input:focus {
    outline:none;
}

.add-btn{
    color: white;
    background-color: black;
    border-radius: none;
}

// .custom-input{
//     width:100%;
// }
