<div class="cook-ware-text"> Explore our curated cookware range</div>
 
  <div class="row">
    <div class="col offset-md-2">
      <div class="col-sm-12">
        <img class="images-cook" src="assets/images/cook-ware-two.png">
      </div>
      <div class="col-sm-12">
        <button class="button-cook-ware"> KITCHEN SETS FOR HOME</button>
      </div>
    </div>
    <div class="col">
      <div class="col-sm-12">
        <img  class="images-cook"src="assets/images/cook-ware-one.png">
      </div>
      <div class="col-sm-12">
        <button class="button-cook-ware"> GIFT SET</button>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col offset-md-2">
      <div class="col-sm-12">
        <img  class="images-cook" src="assets/images/cook-ware-three.png">
      </div>
      <div class="col-sm-12">
        <button class="button-cook-ware"> BACHELORS</button>
      </div>
    </div>
    <div class="col">
      <div class="col-sm-12">
        <img class="images-cook" src="assets/images/cook-ware-four.png">
      </div>
      <div class="col-sm-12">
        <button class="button-cook-ware"> FULL RANGE</button>
      </div>
    </div>
  </div>
