
.heading{
    font-size: 20px;
}

.product-categories{
    margin-top: 20px;
}


.category-button{
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    font-size: 12px;
    width: 160px;
}

.card-image{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}