
<nav class="navbar navbar-expand-sm bg-white navbar-dark border-bottom border-dark">
  <a class="navbar-brand " href="#"><img class="icon" src="../../../assets/images/logo.jpg"></a>
  <div class="d-flex ml-auto flex-row">
    <div class="border-right">
      <img class="search-icon" src="../../assets/images/page1.png">
    </div>
    <div>
      <img class="cart-icon" src="../../assets/images/shoppingcart.png">
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="text-center mt-4 heading">
    <strong>EXPLORE OUR FULL PRODUCT RANGE</strong>
  </div>
  <div class="container product-categories">
      <div class="row justify-content-around">
          <div class="col-sm-4">
            <div class="card border-0">
              <div class="d-flex card-body flex-column">
                <img class="card-image" src="../../assets/images/5151Ax5P53L.png">
                <div class="row justify-content-center">
                  <a href="#" class="btn  category-button"><strong>COOKWARE</strong></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card border-0">
              <div class="d-flex card-body flex-column">
                <img class="card-image text-center" src="../../assets/images/group5.png">
                <div class="row justify-content-center">
                  <a href="#" class="btn category-button"><strong>KITCHEN APPLIANCES</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-around mt-4">
            <div class="col-sm-4">
              <div class="card border-0">
                <div class="d-flex card-body flex-column">
                  <img class="card-image" src="../../assets/images/bulb2.jpg">
                  <div class="row justify-content-center">
                    <a href="#" class="btn  category-button"><strong>LEDs</strong></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card border-0">
                <div class="d-flex card-body flex-column">
                  <img class="card-image text-center" src="../../assets/images/homeutilIty.jpg">
                  <div class="row justify-content-center">
                    <a href="#" class="btn  category-button"><strong>HOME UTILITY</strong></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>
