/* You can add global styles to this file, and also import other style files */
.button-cook-ware{
    border-style: solid;
    border-color: black;
    background-color: white;
    height: 45px;
    width: 65%;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.cook-ware-text{
    font-size: 18px;
    font-weight: bold;
}
.images-cook{
    height: 250px;
    width: 350px;
}
.nav-item-text{
    font-size: 14px;
    font-weight: bold;
    padding-left: 4%;
}
.icon{
    height: 35px;
}
.search-icon{
    height: 25px;
    padding-right: 20px;
}
.cart-icon{
    height: 25px;
    padding-left: 20px;
}