/* You can add global styles to this file, and also import other style files */
.button-cook-ware{
    border-style: solid;
    border-color: black;
    background-color: white;
    height: 50px;
    width: 30%;
}
.cook-ware-text{
    font-size: 18px;
    font-weight: bold;
}
.images-cook{
    height: 250px;
    width: 350px;
}