<nav class="navbar navbar-expand-sm bg-white navbar-dark border-bottom border-dark">
  <a class="navbar-brand " href="#">
    <img class="icon" src="../../../assets/images/logo.jpg">
  </a>
  <div class="nav-item-text">
    Cookware
  </div>
  <div class="nav-item-text">
    Kitchen Appliances
  </div>
  <div class="nav-item-text">
    LED's
  </div>
  <div class="nav-item-text">
    Home Utility
  </div>
  <div class="d-flex ml-auto flex-row">
    <div class="border-right">
      <img class="search-icon" src="../../assets/images/page1.png">
    </div>
    <div>
      <img class="cart-icon" src="../../assets/images/shoppingcart.png">
    </div>
  </div>
</nav>
<div class="container">
  <br /><br /><br />
  <div class="row">
    <div class="col-sm-5">
      <div class="d-flex col-12 justify-content-center">
        <img class="card-image" src="../../assets/images/8.png">
      </div>
      <div class="row mt-2">
        <div class="d-flex col-7 justify-content-end preview-text">
          Hover to zoom
        </div>
        <div class="d-flex col-5 justify-content-start preview-text">
          View
        </div>
      </div>
      <div class="row mt-3">

      </div>

    </div>
    <div class="col-sm-7">
      <div class="row">
        <strong>Pigeon Favourite 3 Pcs Non Stick Cookware Set</strong>
      </div>
      <div class="row"><small>Bachelor Set 1</small></div>
      <div class="row mt-3"><strong>&#x20B9; 2499</strong></div>
      <div class="row mt-3">
        <div class="color-maroon">
        </div>
        <div class="color-blue">
        </div>
        <div class="color-grey">
        </div>
      </div>
      <div class="row">
        <div class="mt-5 col-5 btn add-btn">
          Add to Cart
        </div>
      </div>
      <div class="row features mt-5 flex-column">
        <div class="row">
          <strong class="border px-2 border-dark">-</strong>
          <strong class="ml-3">Features</strong>
        </div>
        <div class="col-8 mt-3">
          <div class="row desc-text">
            <div class="d-flex col-3 justify-content-center flex-column">
              <div class="row py-1 justify-content-center">
                <img src="../../assets/images/stack.png">
              </div>
              <div class="row mt-2 justify-content-center">
                3 Layer Non Stick Coating From Greblon
              </div>
            </div>
            <div class="col-3">
              <div class="row">
                <img src="../../assets/images/disc.png">
              </div>
              <div class="row mt-2">
                Spiral Bottom for Even Heating
              </div>
            </div>
            <div class="col-3">
              <div class="row">
                <img src="../../assets/images/group7.png">
              </div>
              <div class="row mt-2">
                Metal Spoon Friendly
              </div>
            </div>
            <div class="col-3">
              <div class="row">
                <img src="../../assets/images/handle.png">
              </div>
              <div class="row mt-2">
                Strong &amp; Sturdy Stay- Cool Handle
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
