.card-image{
    width: 325px;
    height: 150px;
}
.preview-text{
    font-size: x-small;
    color: #919191;
}
.color-maroon{
    background-color: rgba(182, 85, 81,1);
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.color-blue{
    background-color: rgba(153, 204, 217,1);
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.color-grey{
    background-color: rgba(184, 184, 184,1);
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.add-btn{
    color: white;
    background-color: black;
}

.desc-text{
    font-size: x-small;
}