<nav class="navbar navbar-expand-sm bg-white navbar-dark border-bottom border-dark">
  <a class="navbar-brand " href="#">
    <img class="icon" src="../../../assets/images/logo.jpg">
  </a>
  <div class="nav-item-text">
    Cookware
  </div>
  <div class="nav-item-text">
    Kitchen Appliances
  </div>
  <div class="nav-item-text">
    LED's
  </div>
  <div class="nav-item-text">
    Home Utility
  </div>
  <div class="d-flex ml-auto flex-row">
    <div class="border-right">
      <img class="search-icon" src="../../assets/images/page1.png">
    </div>
    <div>
      <img class="cart-icon" src="../../assets/images/shoppingcart.png">
    </div>
  </div>
</nav>
<div class="container">
  <br /><br /><br />
  <div class="row">
    <div class="col-sm-6">
      <div class="d-flex col-12 justify-content-center">
        <img class="card-image" src="../../assets/images/8.png">
      </div>
      <div class="row mt-2">
        <div class="d-flex col-7 justify-content-end preview-text">
          Hover to zoom
        </div>
        <div class="d-flex col-5 justify-content-start preview-text">
          View
        </div>
      </div>
      <div class="row mt-5 justify-content-center">
        <div class="image-holder col-3 mr-2 mt-2 border">
          <img class="card-image-small" src="../../assets/images/8Copy.png">
        </div>
        <div class="image-holder col-3 mr-2 mt-2 border">
          <img class="card-image-small" src="../../assets/images/12.png">
        </div>
        <div class="image-holder col-3 mr-2 mt-2 border">
          <img class="card-image-small" src="../../assets/images/8blue.png">
        </div>
        <div class="image-holder col-3 mr-2 mt-2 border">
          <img class="card-image-small" src="../../assets/images/12blue.png">
        </div>
        <div class="image-holder col-3 mr-2 mt-2 border">
          <img class="card-image-small" src="../../assets/images/8grey.png">
        </div>
        <div class="image-holder col-3 mr-2 mt-2 border">
          <img class="card-image-small" src="../../assets/images/12grey.png">
        </div>
      </div>
      <div class="row mt-2 justify-content-center">
        <a class="text-body" href="">View Full Range</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <strong>Pigeon Favourite 3 Pcs Non Stick Cookware Set</strong>
      </div>
      <div class="row"><small>Bachelor Set 1</small></div>
      <div class="row mt-3"><strong>&#x20B9; 2499</strong></div>
      <div class="row mt-3">
        <div class="color-maroon">
        </div>
        <div class="color-blue">
        </div>
        <div class="color-grey">
        </div>
      </div>
      <div class="row">
        <div class="mt-5 col-5 btn add-btn">
          Add to Cart
        </div>
      </div>
      <div class="row features mt-5 flex-column">
        <div class="row">
          <strong class="border px-2 border-dark">-</strong>
          <strong class="ml-3">Features</strong>
        </div>
        <div class="col-12 mt-3">
          <div class="row desc-text">
            <div class="d-flex col-3 justify-content-center flex-column">
              <div class="row py-1 justify-content-center">
                <img src="../../assets/images/stack.png">
              </div>
              <div class="row mt-2 text-center">
                3 Layer Non Stick Coating From Greblon
              </div>
            </div>
            <div class="col-3">
              <div class="row justify-content-center">
                <img src="../../assets/images/disc.png">
              </div>
              <div class="row mt-2 text-center">
                Spiral Bottom for Even Heating
              </div>
            </div>
            <div class="col-3">
              <div class="row justify-content-center">
                <img src="../../assets/images/group7.png">
              </div>
              <div class="row mt-2 text-center">
                Metal Spoon Friendly
              </div>
            </div>
            <div class="col-3">
              <div class="row justify-content-center">
                <img src="../../assets/images/handle.png">
              </div>
              <div class="row mt-2 text-center">
                Strong &amp; Sturdy Stay- Cool Handle
              </div>
            </div>
            <div class="bullet-features mt-4">
              <ul>
                <li class="mt-1">1 Year Warranty</li>
                <li class="mt-1">Dishwasher Safe: Yes</li>
                <li class="mt-1">SUPC: SDL491455399</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row description mt-3 flex-column">
        <div class="row">
          <strong class="border px-2 border-dark">-</strong>
          <strong class="ml-3">Description</strong>
        </div>
        <div class="col-12 mt-3">
          <div class="row desc-text justify-text ml-3">
            <p>
              The Pigeon Favourite 4 Pcs Cookware Set is an ideal pick for bachelors who like to cook on weeekends.
              This cookware set comes packed with many features, it consists of 4 essential cookware components that
              include a kadai with lid, a frying pan, a flat tawa and a glass lid. Featuring a matte finish and
              non-stick
              coating, this cookware set is indeed an epitome of quality and great looks.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <div class="row justify-content-center">
      <div class="text-center col-8 border-bottom border-dark">
        <p>SIMILAR PRODUCTS</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="my-5 row">
    <div class="compare-products card col-4 border-0">
      <div class="row d-flex justify-content-center">
        <img class="compare-product-image" src="../../assets/images/compare1.png">
      </div>
      <div class="row d-flex justify-content-center">
        <button class="button-cook-ware">COMPARE</button>
      </div>
    </div>
    <div class="compare-products card col-4 border-0">
      <div class="row d-flex justify-content-center">
        <img class="compare-product-image" src="../../assets/images/compare2.png">
      </div>
      <div class="row d-flex justify-content-center">
        <button class="button-cook-ware">COMPARE</button>
      </div>
    </div>
    <div class="compare-products card col-4 border-0">
      <div class="row d-flex justify-content-center">
        <img class="compare-product-image" src="../../assets/images/compare3.png">
      </div>
      <div class="row d-flex justify-content-center">
        <button class="button-cook-ware">COMPARE</button>
      </div>
    </div>
  </div>
</div>
