<nav class="navbar navbar-expand-sm bg-white navbar-dark border-bottom border-dark">
  <a class="navbar-brand " href="#">
    <img class="icon" src="../../../assets/images/logo.jpg">
  </a>
  <div class="nav-item-text">
    Cookware
  </div>
  <div class="nav-item-text">
    Kitchen Appliances
  </div>
  <div class="nav-item-text">
    LED's
  </div>
  <div class="nav-item-text">
    Home Utility
  </div>
  <div class="d-flex ml-auto flex-row">
    <div class="border-right">
      <img class="search-icon" src="../../assets/images/page1.png">
    </div>
    <div>
      <img class="cart-icon" src="../../assets/images/shoppingcart.png">
    </div>
  </div>
</nav>
<div class="container">
    <div class="row mt-5">
      <div class="col-sm-6">
        <div class="header ml-4">
          <p><strong>CUSTOMIZE SET</strong></p>
        </div>
        <div class="d-flex col-12 justify-content-center mt-5">
          <img class="card-image" src="../../assets/images/8.png">
        </div>
        <div class="d-flex col-12 flex-column mt-3">
          <div class="text-center"><small>Bachelor Set 1</small></div>
          <div class="text-center"><small>4 Piece Set</small></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="checkboxes mt-5">
          <label class="checkboxes-container">
              <div class="checkbox-text"><strong>KADAI</strong></div>
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label class="checkboxes-container">
            <div class="checkbox-text"><strong>GLASS LID</strong></div>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="checkboxes-container">
            <div class="checkbox-text"><strong>FRYING PAN</strong></div>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="checkboxes-container">
            <div class="checkbox-text"><strong>FLAT TAWA</strong></div>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="amount mt-4">
          Total:
            <div class="total">
              <strong>&#8377;2499</strong>
            </div>
        </div>
        <div class="mt-5 btn add-btn">
          Go to Cart
        </div>
      </div>
    </div>
</div>
