<nav class="navbar navbar-expand-sm bg-white navbar-dark border-bottom border-dark">
  <a class="navbar-brand "><img class="icon" src="../../../assets/images/logo.jpg"></a>
  <ul class="nav tab-group">
    <li class="nav-item">
      <a class="nav-link tabItems" (click)="moveToCookware()" >Cookware</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tabItems" >Kitchen Appliances</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tabItems" >LED's</a>
    </li>
    <li class="nav-item">
      <a class="nav-link tabItems" >Home Utility</a>
    </li>
  </ul>
  <div class="d-flex ml-auto flex-row">
    <div class="border-right">
      <img class="search-icon" src="../../assets/images/page1.png">
    </div>
    <div>
      <img class="cart-icon" src="../../assets/images/shoppingcart.png">
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="text-center mt-4 heading cook-ware-text">
    <strong>SPECIAL CATEGORIES FOR BACHELORS</strong>
  </div>
  <div class="container product-categories">
    <div class="row justify-content-around">
      <div class="col-sm-4">
        <div class="card border-0">
          <div class="d-flex card-body flex-column">
            <div class="d-flex col-12 justify-content-center">
              <img class="card-image" src="../../../../assets/images/maggi.png">
            </div>
            <div class="row justify-content-center">
              <button class="button-cook-ware">I COOK MAGGI & TEA/COFFEE</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0">
          <div class="d-flex card-body flex-column">
            <div class="d-flex col-12 justify-content-center">
              <img class="card-image text-center" src="../../../../assets/images/prod12109531712.png">
            </div>
            <div class="row justify-content-center">
              <button class="button-cook-ware">I COOK ON WEEKENDS</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-around mt-4">
      <div class="col-sm-4">
        <div class="card border-0">
          <div class="d-flex card-body flex-column">
            <div class="d-flex col-12 justify-content-center">
              <img class="card-image" src="../../../../assets/images/91S8U6Aj06LSl1500.png">
            </div>
            <div class="row justify-content-center">
              <button class="button-cook-ware">I AM GOING TO MASTERCHEF</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0">
          <div class="d-flex card-body flex-column">
            <div class="d-flex col-12 justify-content-center">
              <img class="card-image text-center" src="../../../../assets/images/13.png">
            </div>
            <div class="row justify-content-center">
              <button class="button-cook-ware">FULL RANGE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
