.icon{
    height: 35px;
}
.search-icon{
    height: 25px;
    padding-right: 20px;
}
.cart-icon{
    height: 25px;
    padding-left: 20px;
}
.heading{
    font-size: 20px;
}

.product-categories{
    margin-top: 20px;
}


.category-button{
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    font-size: 12px;
    width: 200px;
}

.card-image{
    display: block;
    margin: auto;
    width: 250px;
    height: 200px;
    margin-bottom: 15px;
}
.tabItems{
    color: black !important;
    font-weight: bold;
}
.tab-group{
    padding-left: 40px;
}