.small-font{
    font-size: 12px;
}
.left-padding-one{
   padding-left:10%
}

.left-padding-two{
    padding-left:7%
}

.tabItems{
    color: black !important;
    font-weight: bold;
}

.tab-group{
    padding-left: 40px;
}